.session-table-header {
	padding-bottom: 5px;
	border-bottom: solid 2px #bbb;
	font-size: 16px;
}

.session-table-row {
	padding: 5px 0;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}

.session-table-team-header {
	padding: 5px 0;
	border-bottom: solid 1px #bbb;
	font-size: 14px;
}

.session-table-team-row {
	padding: 5px 0;
	font-size: 12px;
}

.session-table-team-row:hover {
	background-color: #ddd;
}

.session-table-row:hover {
	background-color: #ddd;
	cursor: pointer;
}

.session-table-row .sub-field {
	font-size: 12px;
	display: block;
}

.session-team-list {
	display:none;
}

.picked-session {
	background-color: #eee;
}